@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300&family=Homemade+Apple&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  font: 42px "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 0;
  margin: 0;
}

/*Video*/
#backgroundVideo{
  position:fixed;
  width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    top:0;
    left:0;
}

.myButton {
/*  background-color:#44c767;*/
width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 48px;
  font-size: 24px;
  color: white;
/*  border: 2px solid #f2af29;*/
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.1);;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 100px;
}
.myButton:hover {
  background-color:rgba(255,255,255,0.5);
}
.myButton:active {
  position:relative;
  top:1px;
}



.container {
  display: block;
/*  margin: 0px auto;*/
  overflow: hidden;
/*  padding-bottom: 300px;*/
  width: 100%;
  margin-top: 100px;
  float:left;
}

.container figure {
    object-fit: cover;
    object-position: center;
    z-index: -1;
    top:0;
    left:0;
  background-color: #0e0e0e;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 49%;
  height: 300px;
  margin:0px;
  opacity: 0.8;
}

.last-container{
  margin-bottom: 50px;
}

.container h1 {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 1em;
    color: rgb(255, 255, 255);
    margin: 0 0% 0% 0%;
/*  padding: 100%;*/
  justify-content: center;
  display: flex;
}

.container footnote {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 0.5em;
    color: rgb(255, 255, 255);
    padding-right: 20%;
    direction:rtl;
text-align:justify;
  display: flex;
}

.scrolleffect1 {
  perspective: 800px;
  -webkit-transform: translateX(-100%) rotate(90deg);
  transform: translateX(-100%) rotate(90deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.scrolleffect2 {
  perspective: 800px;
  -webkit-transform: translateX(100%) rotate(-90deg);
  transform: translateX(100%) rotate(-90deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.scrolleffect3 {
  visibility: hidden; 
  opacity: 0;
  perspective: 800px;
  -webkit-transform: translateX(100%) rotate(-90deg);
  transform: translateX(100%) rotate(-90deg);
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
}

.scrolleffect1.open,
.scrolleffect2.open,
.scrolleffect3.open {
  -webkit-transform: translateX(0%) rotateX(0deg);
  transform: translateX(0%) rotateX(0deg);
}
.scrolleffect3.open {
  visibility: visible;
  opacity: 0.7;
}

@media screen and (max-width: 800px) {

  .container figure {
    width:40%;
    height:150px;
  }
  .container h1 {
    font-size: .7em;
  }
  .container footnote {
    font-size: .4em;
  }
  .container{
    margin-top:50px;
  }

}